.subtitle-home-section {
  color: lightgray;
  font-size: 18px;
  font-weight: bold;
}

.title-about-section {
  color: lightgray;
  font-size: 30px;
  font-weight: bold;
}

.subtitle-about-section {
  color: lightgray;
  font-size: 18px;
  font-weight: bold;
}
