.subtitle {
  color: lightgray;
  font-size: 18px;
  font-weight: bold;
}

.title {
  color: lightgray;
  font-size: 30px;
  font-weight: bold;
}

.rotate {
  animation: rotate 4.5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
