.header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
}

.brand {
  justify-self: start;
}

.menu-icon {
  display: none;
  color: lightgray;
  z-index: 7;
}

.options-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1rem;
  align-items: center;
  justify-content: end;
  width: 100vw;
}

@media screen and (max-width: 960px) {
  .header {
    position: relative;
  }

  .options-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: -120%;
    opacity: 1;
    transition: all 0.5s ease-out;
  }

  .options-container.active {
    left: 0;
    opacity: 1;
    background: #0b1826;
    transition: all 0.3s ease-in-out;
    z-index: 6;
  }

  .navigation-item {
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    display: table;
  }

  .menu-icon {
    display: block;
    position: fixed;
    margin: 1.1rem 0rem;
    top: 0;
    right: 0;
    transform: translate(-100%, 10%);
  }
}
