.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  color: gold;
  justify-self: start;
}

.menu-icon {
  display: none;
  color: lightgray;
}

.options-container {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 2rem;
  text-align: center;
  align-items: center;
  justify-content: end;
  width: 70vw;
}

@media screen and (max-width: 960px) {
  .header {
    position: relative;
  }

  .options-container {
    display: flex;
    flex-direction: column;
    background: darkblue;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .options-container.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navigation-item {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .brand {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
  }
}
