.btn {
  padding: 0.8rem 1rem;
  margin-top: 1rem;
  font-weight: bold;
  background-color: transparent;
  color: lightgray;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
}

.border-gradient-color {
  border-image-source: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #fbf5b7,
    #aa771c
  );
}
