body {
  margin: 2rem 4rem;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b1826;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  font-size: 16px;
}

@media screen and (max-width: 960px) {
  body {
    margin: 1rem 1rem;
  }

  .btn {
    padding: 0.2rem 0.2rem;
    font-size: 14px;
  }

  .title-home-section {
    color: lightgray;
    font-size: 16px;
  }
}

body {
  display: block;
  position: relative;
  top: -2px;
  height: 185px;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1286 185" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(68, 83, 95, 1)" d="M 0 0 L 1020 127 L 1020 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(68, 83, 95, 1)" d="M 1019 127 L 1286 0 L 1286 0 L 1019 0 Z" stroke-width="0"></path> </svg>');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2rem 4rem;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

@media (max-width: 1285px) {
  body {
    background-size: contain;
    margin: 1rem 1rem;
  }
}
