.btn {
  padding: 0.6rem 0.6rem;
  margin-top: 1rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 14px;
  color: lightgray;
  background: linear-gradient(to right, lightgray 50%, #0b1826 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
}

.border-gradient-color {
  border-image-source: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #fbf5b7,
    #aa771c
  );
}

.btn:hover {
  background-position: left bottom;
  color: black;
}

a:hover {
  text-decoration: none;
}
