.btn {
  padding: 0.8rem 0.8rem;
  margin-top: 1rem;
  font-weight: bold;
  background: linear-gradient(to right, lightgray 50%, white 50%);
  color: black;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
}

.border-gradient-color {
  border-image-source: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #fbf5b7,
    #aa771c
  );
}

.btn:hover {
  background-position: left bottom;
  color: black;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s ease-in-out;
}
